!!!
html
  head
    title= title
    link(rel='stylesheet', href='/touch/resources/css/sencha-touch.css')

    script(src='/touch/sencha-touch.js',  type='application/javascript')
    script(src='/socket.io/socket.io.js', type='application/javascript')

    script(src='http://crypto-js.googlecode.com/files/2.3.0-crypto-sha256.js', type='application/javascript')


  body!= body
