!!!
html
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')

    script(src='/lib/jquery-1.7.1.min.js', type='application/javascript')
    script(src='/lib/backbone.js', type='application/javascript')

    script(src='/lib/bootstrap/js/bootstrap.js', type='application/javascript')

  body!= body
